{
  "banwords": [],
  "description": "FreeKill Server",
  "iconUrl": "default",
  "capacity": 100,
  "tempBanTime": 20,
  "motd": "Welcome!",
  "hiddenPacks": [],
  "enableBots": true,
  "enableWhitelist": false,
  "roomCountPerThread": 2000,
  "maxPlayersPerDevice": 50
}
